{% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dist/remixicon/remixicon.css' %}" rel="stylesheet"> <!-- most of the icons -->
  <link href="{% static 'dist/boxicons/css/boxicons.min.css' %}"  rel="stylesheet"> <!-- icon for main categories -->

  <!-- Template Main CSS File -->
  <link href="{% static 'files/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'files/css/main.css' %}"  rel="stylesheet">