{%  extends 'app_trucks/includes/main.html' %}
{% load static %}

{% block content %}

{% load event_tags %}

  <!-- ======= Form Section ======= -->
  <section id="contact" class="contact pt-5">
    <div class="container" data-aos="fade-up">

      <!-- Title -->
      <div class="section-title pb-3">
        <a id="deliveries_today"></a><h2 >Reporte de Jornadas</h2>
          <!-- Greeting -->
          <p class="pb-2">
            Seleccione los datos que serán mostrados en el reporte de Jornadas Trabajadas.
              {{f.errors}}
          </p>
      </div>

      <!-- Form -->
      <div class="row">
        <div class="col">

            <!-- ERROR MESSAGE -->
            {% if messages %}
            <p class="text-muted text-center pt-2">
              {% for message in messages %}
                {% if message.message == 'form-errors' %}
                  <div class="alert alert-danger" role="alert">
                    <strong>Error. </strong>
                    Hay errores en el formulario. Por favor, corrija los errores señalados y presione Crear nuevamente.
                  </div>
                {% elif message.message == 'form-duplicated' %}
                  <div class="alert alert-danger" role="alert">
                    <strong>Error. </strong> El usuario {{ request.user.first_name }} {{ request.user.last_name }} ya tiene una jornada de trabajo para la fecha seleccionada.
                  </div>
                {% endif %}
              {% endfor %}
            </p>
            {% endif %}

          <form action="" method="post" role="form">
          {% csrf_token %}

            <!-- === First Line === -->
            <div class="form-row pt-4">

              <!-- Select Truck Field -->
              <div class="form-group col-md-4">
                <label for="truck" class="pl-2">Camión</label>
                <select id="id_truck" name="truck" class="form-control custom-select
                  {% for message in messages %}
                    {% if message.message == 'form-errors' and not f.truck.errors %}
                      is-valid
                    {% elif message.message == 'form-errors' and f.truck.errors %}
                      is-invalid
                    {% endif %}
                  {% endfor %}">
                  {% for id, name in f.fields.truck.choices %}
                    <option value={{ id }}{% if f.truck.value|add:"0" == id %} selected {% endif %} >{{name}}</option>
                  {% endfor %}
                </select>
                <small id="truckHelp" class="form-text text-muted"></small>
              </div>

              <!-- Select User Field -->
              <div class="form-group col-md-4">
                <label for="user" class="pl-2">Trabajador</label>
                <select id="id_user" name="user" class="form-control custom-select
                  {% for message in messages %}
                    {% if message.message == 'form-errors' and not f.user.errors %}
                      is-valid
                    {% elif message.message == 'form-errors' and f.user.errors %}
                      is-invalid
                    {% endif %}
                  {% endfor %}">
                  {% for id, name in f.fields.user.choices %}
                    <option value={{ id }}{% if f.user.value|add:"0" == id %} selected {% endif %} >{{name}}</option>
                  {% endfor %}
                </select>
                <small id="truckHelp" class="form-text text-muted"></small>
              </div>

            </div>

            <!-- === Second Line === -->
            <div class="form-row">

              <!-- Ini Date Field -->
              <div class="form-group col-md-4">
                <label for="id_date_ini" class="pl-2">Desde</label>
                <input type="date" name="date_ini" id="id_date_ini" aria-describedby="dateHelp" placeholder="Desde"
                       class="form-control
                       {% for message in messages %}
                           {% if message.message == 'form-errors' and not f.date_ini.errors %}
                              is-valid
                           {% elif message.message == 'form-errors' and f.date_ini.errors %}
                              is-invalid
                           {% endif %}
                       {% endfor %}"
                       value="">
              </div>

              <!-- End Date Field -->
              <div class="form-group col-md-4">
                <label for="id_date_end" class="pl-2">Hasta</label>
                <input type="date" name="date_end" id="id_date_end" aria-describedby="dateHelp" placeholder="Hasta"
                       class="form-control
                       {% for message in messages %}
                           {% if message.message == 'form-errors' and not f.date_end.errors %}
                              is-valid
                           {% elif message.message == 'form-errors' and f.date_end.errors %}
                              is-invalid
                           {% endif %}
                       {% endfor %}"
                       value="">
              </div>

            </div>

            <!-- Separator -->
            <br>
            <hr class="mt-0 pt-3">

            <!-- Submit Buttons -->
            <button type="submit" class="btn btn-primary px-4" name="make_report">Ver Reporte</button>

            <!-- Cancel Buttons -->
            <span class="pl-2"></span>
            <a class="btn btn-secondary px-3" href="{% url "dashboard" %}">Ir al Inicio</a>

          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock %}